<div class="header">
    <ul class="nav nav-pills pull-right">
    
    <li><a href="/revoke" class="text-danger">Revoke Access</a></li>
    <li><a href="/accounts" class="<%= (page === 'accounts') ? 'active' : '' %>">Accounts</a></li>
  </ul>
  <h3 class="text-muted"><a href="/">GA Trafficbox</a></h3>
</div>